h2{
    margin-bottom: -15px;
    display: flex;
    margin-left: 10px;
    
  }
  span{
    margin-bottom: -25px;
  }
  h3{
   margin-top: 50px;
   margin-left: 10px;
  }
  #lol{
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 19px;
    border: solid red 5px;
    margin: -175px 0px -200px 50px;
    height: fit-content;
    background: white;
    width: 100%;
    padding-right: 30px;
    position: relative;
  
  }
  
  #sla{
      display: flex;
      justify-content: space-between;
      margin: -47px 220px 0px 1000px;
      list-style: none;
      color:blue;
  }
  ul li a {
      text-decoration: none;
      padding: 10px;
      font-size: 18px;
    }
    body{
      text-decoration: none;
     
  
    }
    a{
      text-decoration: none;
      padding: 30px;
      color:rgb(13, 13, 58);
      
    }
    header{
      background: rgb(255, 48, 48);
      height: 70px;
      margin: -21px -20px 0px -10px;
    }
    main{
    background-image: url(n.jpg);
    margin: -21px -20px 0px -10px;
    background-size: 130%;
      padding: 230px;
      display: flex;
  
    }
    img{
      padding: 15px;
      width: 70%;
      display: flex;
      margin-left: 150px;
    }
    .kkk{
      display:flex;
      margin-right: 25px;
    }

  p{
    padding-right:-5px;
    margin-right: -25px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-indent: 20px;
  }
 li{
  padding-right:-5px;
  margin-right: -25px;
  margin-left: 10px;

 }
footer{
background: red;
width: 100%;
position: absolute;
bottom: 0;
left: 0;
margin: 0px 0px -3156px 0px;
color:rgb(13, 13, 58);
height: 330px;
}
#tu{
  margin-top: 50px;
   margin-left: 500px;
}
